$primary: #5265E1;
$secondary: #FA5959;

.centered {
    text-align: center;
}

.p-margins {
    border: solid 2px red;
    margin: auto;
    width: 200px;
}

#img1 {
    border-style: solid;
    border-color: black;
    border-width: 0.5cm;
    border-radius: 0.5cm;
    box-shadow: -0.5cm 0.5cm 1cm grey;
}

#div1 {
    background-color: $primary;
    width: 600px;
    height: 300px;
    border-radius: 250px 0px 0px 250px;
    position: absolute;
    right: 0;
    top: 35%;
    z-index: -1;
}

.my-col {
    display: flex;
}

@import "../node_modules/bootstrap/scss/bootstrap.scss";