$primary: #5265E1;
$secondary: #FA5959;

$spacer: 1.5rem;

html {
    text-align: center;
}
/*
body {
    font-family: 'Source Code Pro', monospace !important;
}
*/
p {
    color: grey;
}
.left {
    text-align: left;
}
#first-nav-item, #last-nav-item {
    display: none;
}
.p-margins {
    margin: auto !important;
    width: 50% !important;
}
#div2 {
    background-color: $primary;
    width: 600px;
    height: 300px;
    border-radius: 250px 0 0 250px;
    position: absolute;
    right: 0;
    top: 35%;
    z-index: -1;
}
.nav-link2 {
    color: gray !important;
    font-size: 16px;
}
.nav-link2.active {
    color: black !important;
    font-weight: bold;
    border-bottom: solid $secondary 2px !important;
}
.div3 {
    background-color: $primary;
    width: 600px;
    height: 300px;
    border-radius: 0 250px 250px 0;
    position: absolute;
    left: 0;
    top: 140%;
    z-index: -1;
}
.my-col {
    height: 350px;
    display: flex;
    justify-content: space-around;
}
.my-card {
    padding: 20px 0 20px 0;
    box-shadow: 0.2cm 0.2cm 0.5cm gray;
    border-radius: 10px;
}
.dots {
    display: block;
}
#c0 {
    align-self: flex-start;
}
#c1 {
    align-self: center;
}
#c2 {
    align-self: flex-end;
}
.accordion-button::after {
  background-image: url("../Imagenes/icon-arrow.svg") !important;
}
@media screen and (max-width: 992px) {
    .navbar-collapse {
        background-color: rgba(47, 53, 79, 0.75);
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
    }
    #first-nav-item {
        display: flex;
        justify-content: space-around;
        align-items: center;
        height: 60px;
    }
    .nav-item1 {
        border-top: solid 1px white !important;
        $margin1: 100px;
        margin-left: $margin1 !important;
        margin-right: $margin1 !important;
    }
    .nav-link1 {
        font-size: 40px !important;
        color: white !important;
    }
    #b1 {
        background-color: transparent !important;
        border: solid 4px white;
        margin-top: 10px;
    }
    #last-nav-item {
        display: flex;
        position: fixed;
        bottom: 20px;
        left: 50%;
        z-index: 1;
        justify-content: space-around;
        align-items: center;
        transform: translateX(-50%);
        width: 25%;
    }
    .my-col {
        height: auto;
        flex-direction: column;
    }
    #c0, #c1, #c2 {
        align-self: center;
    }
    .div3 {
        top: 190%;
    }
}

@import "../node_modules/bootstrap/scss/bootstrap.scss";
